body {
	font-family: "Poppins", sans-serif;
	color: #262626;
}

.container {
	display: grid;
	margin: 50px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: stretch;
	align-items: stretch;
}

.content * {
	width: 100%;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 20px;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-top: auto;
}

.button {
	display: inline-block;
	width: 100%;
	color: #fff;
	background-color: green;
	outline: none;
	border: none;
	height: 30px;
	border-radius: 4px;
	font-size: 20px;
	margin: 5px 0;
	cursor: pointer;
}

.button:hover {
	background-color: forestgreen;
}

.balance,
.loan,
.pay {
	display: flex;
	font-weight: 500;
}

.bankBalance,
.loanBalance,
.payBalance {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	font-weight: 100;
}

.featuresList,
.laptopDescription {
	font-size: 14px;
	font-weight: 200;
}
